In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/movie-rating-dataset/rating.csv
/kaggle/input/movie-rating-dataset/movie.csv

In [2]:
movies = pd.read_csv("/kaggle/input/movie-rating-dataset/movie.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("/kaggle/input/movie-rating-dataset/rating.csv")
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [4]:
df = ratings.merge(movies,how="left",on="movieId")
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
# remove below 1000 commented movies
df.groupby("movieId").agg({"userId":"count"})

         userId
movieId
1         49695
2         22243
3         12735
4          2756
5         12161
...         ...
131254        1
131256        1
131258        1
131260        1
131262        1

[26744 rows x 1 columns]

In [6]:
greater_than_1000_movie_counts = df.groupby("movieId").agg({"userId":"count"})
greater_than_1000_movie_counts = greater_than_1000_movie_counts[greater_than_1000_movie_counts["userId"]>1000]
greater_than_1000_movie_counts.sort_values("userId",ascending=True)

         userId
movieId
84392      1001
56715      1001
2166       1003
5853       1003
2514       1003
...         ...
480       59715
593       63299
318       63366
356       66172
296       67310

[3159 rows x 1 columns]

In [7]:
df_filtered = df[df["movieId"].isin(greater_than_1000_movie_counts.index)]
df_filtered.shape

(17765516, 6)

In [8]:
df_pivot = df_filtered.pivot_table(values = "rating",index = "userId",columns ="title" )
df_pivot.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#select random user
random_user = df_filtered["userId"].sample(1,random_state=45).values[0]
random_user

3639

In [10]:
random_user_df = df_filtered[df_filtered["userId"] == random_user]
random_user_df.head()

,userId,movieId,rating,timestamp,title,genres
540247,3639,1,4.0,2006-03-27 03:56:41,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
540248,3639,2,3.5,2006-03-27 06:10:55,Jumanji (1995),Adventure|Children|Fantasy
540249,3639,10,4.0,2006-03-27 06:08:28,GoldenEye (1995),Action|Adventure|Thriller
540250,3639,11,4.0,2006-03-27 03:32:59,"American President, The (1995)",Comedy|Drama|Romance
540251,3639,17,4.0,2006-03-27 06:08:58,Sense and Sensibility (1995),Drama|Romance

In [11]:
random_user_df.shape

(312, 6)

In [12]:
movies_watched = random_user_df["title"].to_list()

In [13]:
movies_watched_df = df_pivot[movies_watched]
movies_watched_df.head()

title,Toy Story (1995),Jumanji (1995),GoldenEye (1995),"American President, The (1995)",Sense and Sensibility (1995),Ace Ventura: When Nature Calls (1995),Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Seven (a.k.a. Se7en) (1995),Happy Gilmore (1996),Braveheart (1995),...,Lucky Number Slevin (2006),Mission: Impossible III (2006),Over the Hedge (2006),X-Men: The Last Stand (2006),"Lake House, The (2006)",Pirates of the Caribbean: Dead Man's Chest (2006),Superman Returns (2006),Little Miss Sunshine (2006),Stranger than Fiction (2006),"Illusionist, The (2006)"
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,3.5,NaN,NaN,NaN,NaN,3.5,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,3.0,NaN,5.0,3.0,NaN,NaN,NaN,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
user_movie_count = movies_watched_df.T.notna().sum()
user_movie_count

userId
1         63
2         14
3         62
4         14
5         42
          ..
138489    10
138490    16
138491     7
138492    34
138493    97
Length: 138493, dtype: int64

In [15]:
type(user_movie_count)

pandas.core.series.Series

In [16]:
user_movie_count / len(movies_watched) > 0.60

userId
1         False
2         False
3         False
4         False
5         False
          ...
138489    False
138490    False
138491    False
138492    False
138493    False
Length: 138493, dtype: bool

In [17]:
# %60 ından fazlasını izleyenleri sec
users_same_movies = user_movie_count[user_movie_count / len(movies_watched) > 0.60].index.to_list()

In [18]:
len(users_same_movies)

1766

In [19]:
movies_watched_df_filtered = movies_watched_df.iloc[users_same_movies,:]
movies_watched_df_filtered.shape

(1766, 312)

In [20]:
movies_watched_df_filtered.head()

title,Toy Story (1995),Jumanji (1995),GoldenEye (1995),"American President, The (1995)",Sense and Sensibility (1995),Ace Ventura: When Nature Calls (1995),Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Seven (a.k.a. Se7en) (1995),Happy Gilmore (1996),Braveheart (1995),...,Lucky Number Slevin (2006),Mission: Impossible III (2006),Over the Hedge (2006),X-Men: The Last Stand (2006),"Lake House, The (2006)",Pirates of the Caribbean: Dead Man's Chest (2006),Superman Returns (2006),Little Miss Sunshine (2006),Stranger than Fiction (2006),"Illusionist, The (2006)"
userId,,,,,,,,,,,,,,,,,,,,,
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,4.0,3.0,NaN,3.0,4.0,NaN,3.0,4.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,5.0,2.0,4.0,4.0,3.0,NaN,3.0,4.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# add user to that list to calculate correlation
random_user_pivot = df_filtered[df_filtered["userId"]==random_user].pivot_table(values="rating",index="userId",columns ="title" )
random_user_pivot

title,2001: A Space Odyssey (1968),28 Days Later (2002),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Addams Family Values (1993),Adventures in Babysitting (1987),Air Force One (1997),Airplane II: The Sequel (1982),Aladdin (1992),...,When Harry Met Sally... (1989),While You Were Sleeping (1995),Who Framed Roger Rabbit? (1988),Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),Yojimbo (1961)
userId,,,,,,,,,,,,,,,,,,,,,
3639,4.0,4.0,5.0,4.5,2.5,3.0,4.0,4.0,4.0,4.0,...,5.0,4.0,4.0,5.0,4.5,4.0,4.5,4.0,4.5,0.5

In [22]:
random_user_pivot = random_user_pivot[movies_watched]
random_user_pivot

title,Toy Story (1995),Jumanji (1995),GoldenEye (1995),"American President, The (1995)",Sense and Sensibility (1995),Ace Ventura: When Nature Calls (1995),Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Seven (a.k.a. Se7en) (1995),Happy Gilmore (1996),Braveheart (1995),...,Lucky Number Slevin (2006),Mission: Impossible III (2006),Over the Hedge (2006),X-Men: The Last Stand (2006),"Lake House, The (2006)",Pirates of the Caribbean: Dead Man's Chest (2006),Superman Returns (2006),Little Miss Sunshine (2006),Stranger than Fiction (2006),"Illusionist, The (2006)"
userId,,,,,,,,,,,,,,,,,,,,,
3639,4.0,3.5,4.0,4.0,4.0,2.5,3.5,4.0,3.5,4.5,...,4.5,3.5,4.0,4.0,3.5,4.5,5.0,4.5,4.5,4.5

In [23]:
final_df = pd.concat([movies_watched_df_filtered,random_user_pivot])
final_df

title,Toy Story (1995),Jumanji (1995),GoldenEye (1995),"American President, The (1995)",Sense and Sensibility (1995),Ace Ventura: When Nature Calls (1995),Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Seven (a.k.a. Se7en) (1995),Happy Gilmore (1996),Braveheart (1995),...,Lucky Number Slevin (2006),Mission: Impossible III (2006),Over the Hedge (2006),X-Men: The Last Stand (2006),"Lake House, The (2006)",Pirates of the Caribbean: Dead Man's Chest (2006),Superman Returns (2006),Little Miss Sunshine (2006),Stranger than Fiction (2006),"Illusionist, The (2006)"
userId,,,,,,,,,,,,,,,,,,,,,
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,4.0,3.0,NaN,3.0,4.0,NaN,3.0,4.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,5.0,2.0,4.0,4.0,3.0,NaN,3.0,4.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138135,3.5,3.5,3.5,4.0,NaN,3.0,3.0,3.5,3.5,4.0,...,3.5,NaN,NaN,NaN,NaN,3.5,NaN,4.0,4.0,NaN
138209,4.0,NaN,NaN,NaN,4.5,NaN,4.5,2.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
138255,5.0,4.0,5.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138412,3.0,NaN,NaN,NaN,3.0,NaN,4.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3639,4.0,3.5,4.0,4.0,4.0,2.5,3.5,4.0,3.5,4.5,...,4.5,3.5,4.0,4.0,3.5,4.5,5.0,4.5,4.5,4.5

In [24]:
final_df.T.corr()

userId,92,117,157,295,587,615,742,769,776,813,...,137278,137344,137687,137840,137855,138135,138209,138255,138412,3639
userId,,,,,,,,,,,,,,,,,,,,,
92,1.000000,NaN,0.478091,NaN,0.000000,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,-0.271448,NaN,NaN,0.960769,NaN,NaN,NaN,0.694981
117,NaN,1.000000,-0.113961,-0.015358,-0.531488,NaN,-0.624511,0.019090,-0.700322,NaN,...,NaN,NaN,0.319279,NaN,1.000000,-0.114602,-0.262613,-0.870388,-0.395285,-0.463766
157,0.478091,-0.113961,1.000000,0.410282,0.205728,NaN,0.147234,0.267537,0.178714,NaN,...,NaN,-0.292770,0.176709,NaN,NaN,0.267386,0.553428,-0.666667,0.500000,0.251068
295,NaN,-0.015358,0.410282,1.000000,0.183666,NaN,0.206767,0.197921,-0.030523,0.555556,...,0.790569,0.476331,0.071526,0.000000,0.375000,0.122952,0.101877,0.040456,0.051299,0.025014
587,0.000000,-0.531488,0.205728,0.183666,1.000000,NaN,0.242931,-0.024993,-0.049315,0.866025,...,0.444994,0.876096,0.043481,0.180182,-0.076923,0.147280,-0.003043,0.214114,-0.388245,0.243503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138135,0.960769,-0.114602,0.267386,0.122952,0.147280,NaN,0.140533,0.321689,-0.055147,0.174078,...,-0.091287,0.102062,0.269820,0.458682,-0.172516,1.000000,0.081890,0.081955,0.235050,0.275248
138209,NaN,-0.262613,0.553428,0.101877,-0.003043,NaN,0.442496,0.078507,0.105208,NaN,...,NaN,-0.500000,0.090532,0.544581,0.477214,0.081890,1.000000,0.872718,0.577350,0.293270
138255,NaN,-0.870388,-0.666667,0.040456,0.214114,NaN,0.345134,0.506542,0.934765,0.327327,...,1.000000,NaN,-0.573819,NaN,NaN,0.081955,0.872718,1.000000,NaN,0.534619
138412,NaN,-0.395285,0.500000,0.051299,-0.388245,NaN,0.490098,-0.202326,NaN,NaN,...,-0.288675,NaN,-0.645497,NaN,NaN,0.235050,0.577350,NaN,1.000000,0.335714
3639,0.694981,-0.463766,0.251068,0.025014,0.243503,NaN,0.093979,0.196823,0.025422,0.648204,...,-0.166667,-0.580381,0.158134,0.518711,0.438178,0.275248,0.293270,0.534619,0.335714,1.000000

In [25]:
corr_df = final_df.T.corr()
corr = corr_df.loc[random_user,:]
corr
# SORU : buradaki negative korelasyonlar ne anlama geliyor? benzerlik bulmak için korelasyondan başka yöntem var mı?

userId
92        0.694981
117      -0.463766
157       0.251068
295       0.025014
587       0.243503
            ...
138135    0.275248
138209    0.293270
138255    0.534619
138412    0.335714
3639      1.000000
Name: 3639, Length: 1767, dtype: float64

In [26]:
corr[corr>0.65]

userId
92        0.694981
1201      0.870388
6579      0.927831
7160      0.942809
9546      1.000000
            ...
126468    0.787297
127454    1.000000
133926    0.677876
137203    0.838870
3639      1.000000
Name: 3639, Length: 74, dtype: float64

In [27]:
similar_users = corr[corr>0.65]
similar_users.to_frame()
similar_users = similar_users.reset_index()
similar_users.columns = ["userId","corr"]
similar_users = similar_users[similar_users["userId"] != random_user]

similar_users

    userId      corr
0       92  0.694981
1     1201  0.870388
2     6579  0.927831
3     7160  0.942809
4     9546  1.000000
..     ...       ...
68  125979  0.763394
69  126468  0.787297
70  127454  1.000000
71  133926  0.677876
72  137203  0.838870

[73 rows x 2 columns]

In [28]:
similar_users.sort_values(by="corr",ascending=False)

    userId      corr
16   24128  1.000000
22   34125  1.000000
35   56848  1.000000
30   49025  1.000000
4     9546  1.000000
..     ...       ...
31   52107  0.666726
64  118597  0.666667
44   78306  0.664554
66  121329  0.663390
40   74029  0.662389

[73 rows x 2 columns]

In [29]:
top_users = df_filtered[df_filtered["userId"].isin(similar_users["userId"])]

In [30]:
top_users = top_users.merge(similar_users,how = "left",on = "userId")
top_users

,userId,movieId,rating,timestamp,title,genres,corr
0,92,162,5.0,2003-04-08 04:33:02,Crumb (1994),Documentary,0.694981
1,92,203,2.0,2003-04-08 06:12:51,"To Wong Foo, Thanks for Everything! Julie Newm...",Comedy,0.694981
2,92,236,3.0,2003-04-08 04:32:23,French Kiss (1995),Action|Comedy|Romance,0.694981
3,92,613,4.0,2003-04-08 06:13:06,Jane Eyre (1996),Drama|Romance,0.694981
4,92,1089,5.0,2003-04-08 06:08:25,Reservoir Dogs (1992),Crime|Mystery|Thriller,0.694981
...,...,...,...,...,...,...,...
2316,137203,8361,3.0,2011-01-10 22:35:00,"Day After Tomorrow, The (2004)",Action|Adventure|Drama|Sci-Fi|Thriller,0.838870
2317,137203,58559,3.5,2011-01-10 22:34:49,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,0.838870
2318,137203,68157,3.5,2011-01-10 22:34:53,Inglourious Basterds (2009),Action|Drama|War,0.838870
2319,137203,78469,4.0,2011-01-10 22:32:59,"A-Team, The (2010)",Action|Comedy|Thriller,0.838870
2320,137203,81834,3.5,2011-01-10 22:34:18,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,0.838870

In [31]:
# Weighted
top_users["weighted_rating"] = top_users["corr"] * top_users["rating"]
top_users

,userId,movieId,rating,timestamp,title,genres,corr,weighted_rating
0,92,162,5.0,2003-04-08 04:33:02,Crumb (1994),Documentary,0.694981,3.474903
1,92,203,2.0,2003-04-08 06:12:51,"To Wong Foo, Thanks for Everything! Julie Newm...",Comedy,0.694981,1.389961
2,92,236,3.0,2003-04-08 04:32:23,French Kiss (1995),Action|Comedy|Romance,0.694981,2.084942
3,92,613,4.0,2003-04-08 06:13:06,Jane Eyre (1996),Drama|Romance,0.694981,2.779922
4,92,1089,5.0,2003-04-08 06:08:25,Reservoir Dogs (1992),Crime|Mystery|Thriller,0.694981,3.474903
...,...,...,...,...,...,...,...,...
2316,137203,8361,3.0,2011-01-10 22:35:00,"Day After Tomorrow, The (2004)",Action|Adventure|Drama|Sci-Fi|Thriller,0.838870,2.516611
2317,137203,58559,3.5,2011-01-10 22:34:49,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,0.838870,2.936047
2318,137203,68157,3.5,2011-01-10 22:34:53,Inglourious Basterds (2009),Action|Drama|War,0.838870,2.936047
2319,137203,78469,4.0,2011-01-10 22:32:59,"A-Team, The (2010)",Action|Comedy|Thriller,0.838870,3.355482
2320,137203,81834,3.5,2011-01-10 22:34:18,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,0.838870,2.936047

In [32]:
top_users.sort_values(by = "weighted_rating",ascending=False)

,userId,movieId,rating,timestamp,title,genres,corr,weighted_rating
1803,100557,68358,5.0,2010-02-10 01:10:02,Star Trek (2009),Action|Adventure|Sci-Fi|IMAX,1.000000,5.000000
908,49025,4011,5.0,2009-02-03 12:13:43,Snatch (2000),Comedy|Crime|Thriller,1.000000,5.000000
376,21079,4,5.0,1996-04-21 03:17:40,Waiting to Exhale (1995),Comedy|Drama|Romance,1.000000,5.000000
1804,100557,69122,5.0,2010-02-10 01:09:48,"Hangover, The (2009)",Comedy|Crime,1.000000,5.000000
378,21079,9,5.0,1996-04-21 03:27:16,Sudden Death (1995),Action,1.000000,5.000000
...,...,...,...,...,...,...,...,...
1897,106803,8666,0.5,2004-09-25 00:40:36,Catwoman (2004),Action|Crime|Fantasy,0.741841,0.370921
1891,106803,8622,0.5,2004-09-25 00:42:57,Fahrenheit 9/11 (2004),Documentary,0.741841,0.370921
1781,96619,53519,0.5,2010-10-24 03:05:25,Death Proof (2007),Action|Adventure|Crime|Horror|Thriller,0.712914,0.356457
1763,96619,2161,0.5,2010-10-24 03:00:36,"NeverEnding Story, The (1984)",Adventure|Children|Fantasy,0.712914,0.356457
1761,96619,1479,0.5,2010-10-24 03:02:12,"Saint, The (1997)",Action|Romance|Sci-Fi|Thriller,0.712914,0.356457

In [33]:
recommendation_df = top_users.groupby("movieId").agg({"weighted_rating":"mean"})
recommendation_df

         weighted_rating
movieId
1               3.594268
2               2.230468
4               5.000000
5               2.716524
6               4.000117
...                  ...
96821           2.910089
97938           3.325816
99114           3.094066
102445          3.741543
106920          4.157270

[1162 rows x 1 columns]

In [34]:
type(recommendation_df)

pandas.core.frame.DataFrame

In [35]:
recommendation_df = recommendation_df[recommendation_df["weighted_rating"] > 3.5].sort_values(by = "weighted_rating",ascending=False)
recommendation_df

         weighted_rating
movieId
72407           5.000000
172             5.000000
3812            5.000000
69122           5.000000
4               5.000000
...                  ...
10              3.516813
3745            3.509325
2826            3.507153
1924            3.505430
5952            3.505036

[216 rows x 1 columns]

In [36]:
first_5 = recommendation_df.iloc[:5].index.to_list()
first_5

[72407, 172, 3812, 69122, 4]

In [37]:
movies[movies["movieId"].isin(first_5)]

,movieId,title,genres
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
170,172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller
3721,3812,Everything You Always Wanted to Know About Sex...,Comedy
13788,69122,"Hangover, The (2009)",Comedy|Crime
14466,72407,"Twilight Saga: New Moon, The (2009)",Drama|Fantasy|Horror|Romance|Thriller